# Ambientes virtuais
.venv
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de banco de dados SQLite
*.sqlite
*.sqlite3
*.db

# Arquivos de cache
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env

# Logs
*.log
logs/

# Arquivos temporários
*.tmp
*.bak
*.swp
*~

# Arquivos específicos do seu projeto
instance/
blog.sqlite

# Poetry
poetry.lock